<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soal 2</title>
</head>
<body>
    <div id="app">
        <button onclick="{{ vm.openForm() }}">Open Form</button>
        <h1>{{ "nilai a : " + a }}</h1>
        <h1>{{ "Rata rata : " + rata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            a : 0,
            n : 0
        },
        computed : {
            rata : {
                get() {
                    if ( this.a == 0 || this.b == 0) {
                        return 0;
                    }
                    return this.a / this.n
                }
            }
        },
        methods : {
            openForm : function() {
                do {
                    this.a += parseInt(prompt("masukkan nilai a : "))
                    this.n += 1
                } while (this.a < 10);
            }
        }
    })
    </script>
</body>
</html>