<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 7.2 Ajax</title>
</head>
<body>
    <div id="app">
        <form>
            <div class="form-group">
                <label for="name">Nama</label><br/>
                <input type="text" id="name" placeholder="Nama" v-model:value="name" required>
            </div><br/>
            <div class="form-group">
                <label for="address">Alamat</label><br/>
                <textarea name="address" id="address" cols="30" rows="10" v-model:value="address"></textarea>
            </div><br/>
            <div class="form-group">
                <label for="hp">No Hp</label><br/>
                <input type="text" id="hp" placeholder="No Handphone" v-model:value="hp" required>
            </div><br/>
            <button>Submit</button>
        </form>
        <div class="member">
            <ul v-for="member in members">
                <li>{{ member.name }}</li>
            </ul>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                name: "",
                address: "",
                hp: "",
                members: []

            },
            methods: {
                crateMember: function() {
                    let formData = new FormData();
                    formData.append(name, this.name)
                    formData.append(address, this.address)
                    formData.append(no_hp, this.hp)

                    const config = {
                        method: 'post',
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                        data: formData
                    }

                    axios(config)
                        .then(res => {
                            console.log(res);
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                getMember: function() {
                    const config = {
                        method: 'get',
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then(res => {
                            this.members = res.members
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },
                
                showMember: function(id) {
                    const config = {
                        method: 'get',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`
                    }

                    axios(config)
                        .then(res => {
                            console.log(res)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                updateMember: function(id) {
                    let formData = new FormData();
                    formData.append(name, this.name)
                    formData.append(address, this.address)
                    formData.append(no_hp, this.hp)

                    const config = {
                        method: 'get',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method : "DELETE"},
                        data: formData
                    }

                    axios(config)
                        .then(res => {
                            console.log(res)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                deleteMember: function(id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method : "DELETE"}
                    }

                    axios(config)
                        .then(res => {
                            console.log(res)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                uploadPhoto: function(id) {
                    let formData = new FormData();
                    formData.append(photo_profile, this.photo)

                    const config = {
                        method: 'post',
                        url: `/demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then(res => {
                            console.log(res);
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },
            }
        })
    </script>

</body>
</html>