<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 7-1 Form Input</title>
</head>
<body>
    <div id="app">
        <input type="text" v-on:input="findBook($event)">
        <div class="books">
            <ul v-for="book in foundBooks">
                <li>{{ book }}</li>
            </ul>
        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                books: [
                    "Kalkulus Dasar",
                    "Fisika Dasar",
                    "Aljabar Linier Elementer",
                    "Aljabar Abstrak",
                    "Algoritma Pemrograman"
                ],
                foundBooks: [
                    "Kalkulus Dasar",
                    "Fisika Dasar",
                    "Aljabar Linier Elementer",
                    "Aljabar Abstrak",
                    "Algoritma Pemrograman"
                ]
            },
            methods: {
                findBook: function(event) {
                    if (event.target.value) {
                        let searchdBook = this.books.filter( book => book.toLowerCase().includes(event.target.value));
                        this.foundBooks = searchdBook;
                    } else {
                        this.foundBooks = this.books;
                    }
                }
            }
        })
    </script>
</body>
</html>